.contact-conversation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45.5rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.contact-conversation-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 64.375rem;
    height: 100%;
    background: #0F0F0F;
    padding: 2rem 3.5rem;
    gap: 2rem;
}

.contact-desc-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20rem;
    height: 100%;
}

#contact-lets-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.5rem;
    color: #DFDFDF;
    margin-top: 3rem;
}

#contact-phone-text{
    margin-top: 3rem;
}

#contact-address,#contact-email{
    margin-top: 2rem;
}

#contact-phone-text, #contact-address, #contact-email{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #DFDFDF;

}


.contact-input-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 32.5rem;
    height: 100%;
    padding: 3rem 2rem;
    background: #191919;
    border-radius: 6px;
}

.contact-input-container > input{
    width: 100%;
    height: 4.063rem;
    background: #111111;
    border-radius: 6px;
    outline: none;
    padding-left: 1.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.375em;
    color: #9B9B9B;
    margin-top: 1.5rem;
    border: none;
    outline: none;
}

.contact-input-container > textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:13.438rem;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #9B9B9B;
    background: #111111;
    border-radius: 6px;
    border: none;
    outline:none;
    resize: none;
} 


.contact-input-container > button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 24px;
    gap: 10px;
    background: #0E9BE1;
    border-radius: 5px;
    border: none;
    margin-top: 2.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.063rem;
    color: #FFFFFF;
}















@media only screen and (max-width:1200px){
    .contact-conversation-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 30.5rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    
    .contact-conversation-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 64.375rem;
        height: 100%;
        background: #0F0F0F;
        padding: 2rem 2rem;
        gap: 2rem;
    }
    
    .contact-desc-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 20rem;
        height: 100%;
    }
    
    #contact-lets-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.5rem;
        color: #DFDFDF;
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
    
    #contact-phone-text{
        margin-top: 3rem;
    }
    
    #contact-address,#contact-email{
        margin-top: 2rem;
    }
    
    #contact-phone-text, #contact-address, #contact-email{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #DFDFDF;
    
    }
    
    
    .contact-input-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30rem;
        height: 100%;
        padding: 1.5rem;
        background: #191919;
        border-radius: 6px;
    }
    
    .contact-input-container > input{
        width: 100%;
        height: 2.5rem;
        background: #111111;
        border-radius: 6px;
        outline: none;
        padding-left: 1.5rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.375em;
        color: #9B9B9B;
        margin-top: 1rem;
        border: none;
        outline: none;
    }
    
    .contact-input-container > textarea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:8.438rem;
        margin-top: 1.5rem;
        padding: 1rem 1.5rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #9B9B9B;
        background: #111111;
        border-radius: 6px;
        border: none;
        outline:none;
        resize: none;
    } 
    
    
    .contact-input-container > button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 14px 20px;
        gap: 10px;
        background: #0E9BE1;
        border-radius: 5px;
        border: none;
        margin-top: 1rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.063rem;
        color: #FFFFFF;
    }
    
}














@media only screen and (max-width:991px){
    .contact-conversation-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 92.125rem;
        margin-top: 8rem;
        margin-bottom: 4rem;
    }
    
    .contact-conversation-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        max-width: 64.375rem;
        height: 100%;
        background: #0F0F0F;
        padding: 2rem 3.5rem;
        gap: 4rem;
    }
    
    .contact-desc-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 40rem;
    }

    
    #contact-us-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 3.5rem;
        color: #DFDFDF;
        margin-top: 0rem;
    }

    #contact-lets-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: #DFDFDF;
        margin-top: 2rem;
    }
    
    #contact-phone-text{
        margin-top: 6rem;
    }
    
    #contact-address,#contact-email{
        margin-top: 3.5rem;
    }
    
    #contact-phone-text, #contact-address, #contact-email{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        width: 50%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        color: #DFDFDF;
    
    }
    
    
    .contact-input-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 42rem;
        padding: 3rem 2rem;
        background: #191919;
        border-radius: 6px;
    }
    
    .contact-input-container > input{
        width: 100%;
        height: 3rem;
        background: #111111;
        border-radius: 6px;
        outline: none;
        padding-left: 1.5rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.375em;
        color: #9B9B9B;
        margin-top: 1.5rem;
        border: none;
        outline: none;
    }
    
    .contact-input-container > textarea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:13.438rem;
        margin-top: 1.5rem;
        padding: 1rem 1.5rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #9B9B9B;
        background: #111111;
        border-radius: 6px;
        border: none;
        outline:none;
        resize: none;
    } 
    
    
    .contact-input-container > button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px 24px;
        gap: 10px;
        background: #0E9BE1;
        border-radius: 5px;
        border: none;
        margin-top: 2.5rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.063rem;
        color: #FFFFFF;
    }
}


























@media only screen and (max-width:576px){
    .contact-conversation-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 72.5rem;
        margin-top: 5.5rem;
        margin-bottom: 6rem;
    }
    
    .contact-conversation-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 95%;
        max-width: 64.375rem;
        height: 100%;
        background: #0F0F0F;
        padding: 1.5rem 0rem;
        gap: 4rem;
    }
    
    .contact-desc-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 50rem;
    }

    
    #contact-us-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 3.5rem;
        color: #DFDFDF;
        margin-top: 0rem;
    }

    #contact-lets-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: #DFDFDF;
        margin-top: 0rem;
    }
    
    #contact-phone-text{
        margin-top: 2.5rem;
    }
    
    #contact-address,#contact-email{
        margin-top: 2.5rem;
    }
    
    #contact-phone-text, #contact-address, #contact-email{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        width: 80%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        color: #DFDFDF;
    
    }
    
    
    .contact-input-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 42rem;
        padding: 2rem 1rem;
        background: #191919;
        border-radius: 6px;
    }
    
    .contact-input-container > input{
        width: 100%;
        height: 3rem;
        background: #111111;
        border-radius: 6px;
        outline: none;
        padding-left: 1.5rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.375em;
        color: #9B9B9B;
        margin-top: 1.5rem;
        border: none;
        outline: none;
    }
    
    .contact-input-container > textarea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:13.438rem;
        margin-top: 1.5rem;
        padding: 1rem 1.5rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #9B9B9B;
        background: #111111;
        border-radius: 6px;
        border: none;
        outline:none;
        resize: none;
    } 
    
    
    .contact-input-container > button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 14px 24px;
        gap: 10px;
        background: #0E9BE1;
        border-radius: 5px;
        border: none;
        margin-top: 2.5rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.063rem;
        color: #FFFFFF;
    }
}