.agreement-delivery-add, .agreement-payment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.agreement-delivery-add p, .agreement-payment p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    margin-bottom: 0rem;
    background: var(--btn-border-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.agreement-agreement{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}


.agreement-agreement p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 0rem;
    color: #FFFFFF;

}

.agreement-purchase-type-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 14.375rem;
    margin-top: 4rem;
    padding: 0 2rem 0 2rem;
    gap: 1.5rem;
}

.agreement-individual-purchase,.agreement-company-purchase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16.125rem;
    height: 100%;
    background: #191919;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    padding: 2rem;
    transition: all .2s ease-in-out;
}

.agreement-individual-purchase a, .agreement-company-purchase a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
}


.agreement-individual-purchase:hover,.agreement-company-purchase:hover{
    transform: scale(1.1);
}

#agreement-individual-text,#agreement-company-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #DFDFDF;
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-align: center;
}

#agreement-individual-desc, #agreement-company-desc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.063rem;
    
    text-align: center;
    
    color: #9B9B9B;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}


#agreement-or{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    /* identical to box height, or 161% */
    
    text-align: center;
    
    color: #FFFFFF;
}






















@media only screen and (max-width:768px){
    .delivery-left-container {
        height: 65rem;
      }
    .tablet-agreement-delivery-add, .tablet-agreement-payment{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
        margin-left: .5rem;
    }
    .tablet-agreement-delivery-add p, .tablet-agreement-payment p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        margin-bottom: 0rem;
        background: var(--btn-border-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .tablet-agreement-agreement{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 100%;
    }

    .tablet-agreement-agreement p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #DFDFDF;
    }

    .agreement-purchase-type-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 45.938rem;
        margin-top: 0rem;
        padding: 0 3rem 0 3rem;
        padding: 4rem;
    }
    
    .agreement-individual-purchase,.agreement-company-purchase{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 16.125rem;
        height: 14.563rem;
        background: #191919;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
        border-radius: 6px;
        padding: 1rem;
        transition: none;
    }


    .agreement-individual-purchase a, .agreement-company-purchase a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        cursor: pointer;
    }


    .agreement-individual-purchase:hover,.agreement-company-purchase:hover{
        transform: none;
    }
    
    #agreement-individual-text,#agreement-company-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #DFDFDF;
        margin-top: 2rem;
    }
    
    #agreement-individual-desc, #agreement-company-desc{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.063rem;
        margin-top: 1.5rem;
        
        text-align: center;
        
        color: #9B9B9B;
    }
    
    
    #agreement-or{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        /* identical to box height, or 161% */
        
        text-align: center;
        
        color: #FFFFFF;
    }


    #agreement-select-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #DFDFDF;
        margin-bottom: 0rem;
        margin-top: 3rem;
    }
    
}





















@media only screen and (max-width:500px){
    .mobile-agreement-delivery-tab, .mobile-agreement-payment-tab{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(5, 5, 5, 0.5);
        border-radius: 6px 6px 0px 0px;
        width: 8.25rem;
        height: 100%;
    }

    .mobile-agreement-delivery-tab p, .mobile-agreement-payment-tab p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        /* identical to box height */
        
        
        /* gradient */
        
        background: var(--btn-border-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .mobile-agreement-tab{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0F0F0F;
        border-radius: 6px 6px 0px 0px;
        width: 7.25rem;
        height: 100%;
    }

    .mobile-agreement-tab p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #DFDFDF;
    }

    .agreement-purchase-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 45.938rem;
    }

    .agreement-purchase-type-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 95%;
        height: 100%;
        margin-top: 0rem;
        padding: 3rem 1rem 3rem 1rem;
        background: #0F0F0F;
        border-radius: 0px 0px 6px 6px;
        gap: 2rem;
    }
    
    .agreement-individual-purchase,.agreement-company-purchase{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 8.125rem;
        background: #191919;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
        border-radius: 6px;
        padding: 1.5rem 1rem 1.5rem 1rem;
        gap: 1.5rem;
        transition: none;
    }


    .agreement-individual-purchase a, .agreement-company-purchase a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        cursor: pointer;
        gap: 1.5rem;
    }


    .agreement-individual-purchase:hover,.agreement-company-purchase:hover{
        transform: none;
    }
    
    #agreement-individual-text,#agreement-company-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #DFDFDF;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    
    #agreement-individual-desc, #agreement-company-desc{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-top: .5rem;
        
        text-align: start;
        
        color: #9B9B9B;
    }
    
    
    #agreement-or{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        /* identical to box height, or 161% */
        
        text-align: center;
        
        color: #FFFFFF;
    }


    #agreement-select-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #DFDFDF;
        margin-bottom: 0rem;
        margin-top: 3rem;
    }
}
