.mylisting-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  background: #141414;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 2rem;
}
.mylisting-card-con {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

.mylisting-card-prod-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 5px;
}

.mylisting-card-prod-img-container > img {
  width: 100%;
  height: 100%;
}

.mylisting-prod-name-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 11rem;
  height: 100%;
  margin-left: 1rem;
}

.mylisting-prod-name-container > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #dfdfdf;
  margin-bottom: 0rem;
}

/* approval-pending */
.prod-status-approval-pending {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  background: #191919;
  border-radius: 5px;
  margin-top: 2.5rem;
}

.prod-status-approval-pending > p {
  margin-bottom: 0rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  color: #9b9b9b;
}

/* approved */
.prod-status-approved {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  background: #191919;
  border-radius: 5px;
  margin-top: 2.5rem;
}

.prod-status-approved > p {
  margin-bottom: 0rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  color: #9b9b9b;
}

/* active */
.prod-status-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  background: #191919;
  border-radius: 5px;
  margin-top: 2.5rem;
}

.prod-status-active > p {
  margin-bottom: 0rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  color: #19eeb5;
}

.green-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #19eeb5;
  margin-right: 0.5rem;
}

/* on-hold */
.prod-status-on-hold {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  background: #191919;
  border-radius: 5px;
  margin-top: 2.5rem;
}

.prod-status-on-hold > p {
  margin-bottom: 0rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  color: #d5c53e;
}

.yellow-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #d5c53e;
  margin-right: 0.5rem;
}

/* in-active */
.prod-status-inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  background: #191919;
  border-radius: 5px;
  margin-top: 2.5rem;
}

.prod-status-inactive > p {
  margin-bottom: 0rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  color: #b8352c;
}

.red-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #b8352c;
  margin-right: 0.5rem;
}

.mylisting-prod-desc-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  height: 100%;
  margin-left: 4rem;
  margin-right: 6rem;
}

.mylisting-prod-desc-container > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  color: #dfdfdf;
  row-gap: 0.5rem;
}

.mylisting-prod-desc-container > p > span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.063rem;
  text-align: center;
  color: #646464;
}

.mylisting-listing-card-dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.mylisting-prod-card-agreement-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background: #141414;
  border-top: 1px solid #464646;
  border-radius: 0px 0px 6px 6px;
  margin-top: -4px;
}

.mylisting-prod-card-agreement-container > p {
  margin-bottom: 0rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.063rem;
  text-align: center;
  color: #dfdfdf;
}

.mylisting-prod-card-agreement-container > p > span {
  background: var(--btn-border-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.mylisting-prod-confirm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

.mylisting-prod-confirm-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 45.125rem;
  height: 32.875rem;
  background: #191919;
  border-radius: 6px;
  padding: 2rem;
}

#cross-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 2rem;
}

#prod-select-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  color: #dfdfdf;
  margin-top: 3rem;
}

#prod-select-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  color: #ffffff;
  width: 30rem;
  margin-top: 0.5rem;
}

.mylisting-prod-confirm-content > button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 24px;
  gap: 10px;
  background: #0e9be1;
  border-radius: 5px;
  border: none;
  margin-top: 3rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #ffffff;
}



















@media only screen and (max-width:1200px){
  .mylisting-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background: #141414;
    border-radius: 6px;
    padding: 1rem;
    margin-top: 2rem;
  }
  .mylisting-card-con {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .mylisting-card-prod-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    border-radius: 5px;
  }
  
  .mylisting-card-prod-img-container > img {
    width: 100%;
    height: 100%;
  }
  
  .mylisting-prod-name-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 11rem;
    height: 100%;
    margin-left: 1rem;
  }
  
  .mylisting-prod-name-container > p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #dfdfdf;
    margin-bottom: 0rem;
  }
  
  /* approval-pending */
  .prod-status-approval-pending {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 2.5rem;
    background: #191919;
    border-radius: 5px;
    margin-top: 2.5rem;
  }
  
  .prod-status-approval-pending > p {
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #9b9b9b;
  }
  
  /* approved */
  .prod-status-approved {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    background: #191919;
    border-radius: 5px;
    margin-top: 2.5rem;
  }
  
  .prod-status-approved > p {
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #9b9b9b;
  }
  
  /* active */
  .prod-status-active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    background: #191919;
    border-radius: 5px;
    margin-top: 2.5rem;
  }
  
  .prod-status-active > p {
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #19eeb5;
  }
  
  .green-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #19eeb5;
    margin-right: 0.5rem;
  }
  
  /* on-hold */
  .prod-status-on-hold {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    background: #191919;
    border-radius: 5px;
    margin-top: 2.5rem;
  }
  
  .prod-status-on-hold > p {
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #d5c53e;
  }
  
  .yellow-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #d5c53e;
    margin-right: 0.5rem;
  }
  
  /* in-active */
  .prod-status-inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    background: #191919;
    border-radius: 5px;
    margin-top: 2.5rem;
  }
  
  .prod-status-inactive > p {
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #b8352c;
  }
  
  .red-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #b8352c;
    margin-right: 0.5rem;
  }
  
  .mylisting-prod-desc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    height: 100%;
    margin-left: 4rem;
    margin-right: 6rem;
  }
  
  .mylisting-prod-desc-container > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #dfdfdf;
    row-gap: 0.5rem;
  }
  
  .mylisting-prod-desc-container > p > span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.063rem;
    text-align: center;
    color: #646464;
  }
  
  .mylisting-listing-card-dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .mylisting-prod-card-agreement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    background: #141414;
    border-top: 1px solid #464646;
    border-radius: 0px 0px 6px 6px;
    margin-top: -4px;
  }
  
  .mylisting-prod-card-agreement-container > p {
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.063rem;
    text-align: center;
    color: #dfdfdf;
  }
  
  .mylisting-prod-card-agreement-container > p > span {
    background: var(--btn-border-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .mylisting-prod-select-confirm-containe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 11;
  }
  
  .mylisting-prod-confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11;
  }
  
  .mylisting-prod-confirm-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 36.875rem;
    height: 28.875rem;
    background: #191919;
    border-radius: 6px;
    padding: 2rem;
  }

  .mylisting-prod-confirm-content > img{
    margin-top: 1rem;
  }
  
  #cross-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 1.5rem;
    margin-bottom: 0rem;
  }
  
  #prod-select-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
    color: #dfdfdf;
    margin-top: 3rem;
  }
  
  #prod-select-desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    color: #ffffff;
    width: 30rem;
    margin-top: 0.5rem;
  }
  
  .mylisting-prod-confirm-content > button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 20px;
    gap: 10px;
    background: #0e9be1;
    border-radius: 5px;
    border: none;
    margin-top: 3rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1.063rem;
    color: #ffffff;
  }
}















@media screen and (max-width:991px) {
  .mylisting-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background: #141414;
    border-radius: 6px;
    padding: 0.75rem;
    margin-top: 2rem;
  }
  .mylisting-card-con {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .mylisting-card-prod-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    border-radius: 5px;
  }
  
  .mylisting-card-prod-img-container > img {
    width: 100%;
    height: 100%;
  }
  
  .mylisting-prod-name-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 10rem;
    height: 100%;
    margin-left: 1rem;
  }
  
  .mylisting-prod-name-container > p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #dfdfdf;
    margin-bottom: 0rem;
  }
  
  /* approval-pending */
  .prod-status-approval-pending {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3.125rem;
    background: #191919;
    border-radius: 5px;
    margin-top: 3rem;
  }
  
  .prod-status-approval-pending > p {
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #9b9b9b;
  }
  
  /* approved */
  .prod-status-approved {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    background: #191919;
    border-radius: 5px;
    margin-top: 3rem;
  }
  
  .prod-status-approved > p {
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #9b9b9b;
  }
  
  /* active */
  .prod-status-active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    background: #191919;
    border-radius: 5px;
    margin-top: 3rem;
  }
  
  .prod-status-active > p {
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #19eeb5;
  }
  
  .green-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #19eeb5;
    margin-right: 0.5rem;
  }
  
  /* on-hold */
  .prod-status-on-hold {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    background: #191919;
    border-radius: 5px;
    margin-top: 3rem;
  }
  
  .prod-status-on-hold > p {
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #d5c53e;
  }
  
  .yellow-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #d5c53e;
    margin-right: 0.5rem;
  }
  
  /* in-active */
  .prod-status-inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    background: #191919;
    border-radius: 5px;
    margin-top: 3rem;
  }
  
  .prod-status-inactive > p {
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #b8352c;
  }
  
  .red-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #b8352c;
    margin-right: 0.5rem;
  }
  
  .mylisting-prod-desc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
    height: 100%;
    margin-left: 2rem;
    margin-right: 2rem;

  }


  .mylisting-prod-subs-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 100%;
    row-gap: 2rem;
  }
  
  .mylisting-prod-desc-container > p, .mylisting-prod-subs-date > p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #dfdfdf;
    row-gap: 0.5rem;
  }

  .mylisting-prod-desc-container > p > span, .mylisting-prod-subs-date > p > span{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.063rem;
    text-align: center;
    color: #646464;
  }
}














  @media screen and (max-width:767px) {
    .mylisting-card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 10rem;
      background: #141414;
      border-radius: 6px;
      padding: 0.75rem;
      margin-top: 2rem;
    }
    .mylisting-card-con {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      position: relative;
    }
    
    .mylisting-card-prod-img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 8rem;
      border-radius: 5px;
    }
    
    .mylisting-card-prod-img-container > img {
      width: 100%;
      height: 100%;
    }
    
    .mylisting-prod-name-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 10rem;
      height: 100%;
      margin-left: 1rem;
    }
    
    .mylisting-prod-name-container > p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: #dfdfdf;
      margin-bottom: 0rem;
    }
    
    /* approval-pending */
    .prod-status-approval-pending {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10rem;
      height: 3.125rem;
      background: #191919;
      border-radius: 5px;
      margin-top: 3rem;
    }
    
    .prod-status-approval-pending > p {
      margin-bottom: 0rem;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25rem;
      text-align: center;
      color: #9b9b9b;
    }
    
    /* approved */
    .prod-status-approved {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 3rem;
      background: #191919;
      border-radius: 5px;
      margin-top: 3rem;
    }
    
    .prod-status-approved > p {
      margin-bottom: 0rem;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25rem;
      text-align: center;
      color: #9b9b9b;
    }
    
    /* active */
    .prod-status-active {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 3rem;
      background: #191919;
      border-radius: 5px;
      margin-top: 3rem;
    }
    
    .prod-status-active > p {
      margin-bottom: 0rem;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25rem;
      text-align: center;
      color: #19eeb5;
    }
    
    .green-dot {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: #19eeb5;
      margin-right: 0.5rem;
    }
    
    /* on-hold */
    .prod-status-on-hold {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 3rem;
      background: #191919;
      border-radius: 5px;
      margin-top: 3rem;
    }
    
    .prod-status-on-hold > p {
      margin-bottom: 0rem;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25rem;
      text-align: center;
      color: #d5c53e;
    }
    
    .yellow-dot {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: #d5c53e;
      margin-right: 0.5rem;
    }
    
    /* in-active */
    .prod-status-inactive {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 3rem;
      background: #191919;
      border-radius: 5px;
      margin-top: 3rem;
    }
    
    .prod-status-inactive > p {
      margin-bottom: 0rem;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25rem;
      text-align: center;
      color: #b8352c;
    }
    
    .red-dot {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: #b8352c;
      margin-right: 0.5rem;
    }
    
    .mylisting-prod-desc-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 12rem;
      height: 100%;
      margin-left: 1rem;
      margin-right: 0rem;
  
    }
  
  
    .mylisting-prod-subs-date{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 7rem;
      height: 100%;
      row-gap: 2rem;
    }
    
    .mylisting-prod-desc-container > p, .mylisting-prod-subs-date > p{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 0rem;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25rem;
      text-align: center;
      color: #dfdfdf;
      row-gap: 0.5rem;
    }
  
    .mylisting-prod-desc-container > p > span, .mylisting-prod-subs-date > p > span{
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.063rem;
      text-align: center;
      color: #646464;
    }

  .mylisting-listing-card-dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .mylisting-prod-card-agreement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    background: #141414;
    border-top: 1px solid #464646;
    border-radius: 0px 0px 6px 6px;
  }
  
  .mylisting-prod-card-agreement-container > p {
    margin-bottom: 0rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.063rem;
    text-align: center;
    color: #dfdfdf;
  }
  
  .mylisting-prod-card-agreement-container > p > span {
    background: var(--btn-border-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .mylisting-prod-select-confirm-containe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 11;
  }
  
  .mylisting-prod-confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 11;
  }
  
  .mylisting-prod-confirm-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 39.938rem;
    height: 32.875rem;
    background: #191919;
    border-radius: 6px;
    padding: 2rem;
  }
  
  #cross-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 2rem;
  }
  
  #prod-select-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
    color: #dfdfdf;
    margin-top: 3rem;
  }
  
  #prod-select-desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    color: #ffffff;
    width: 30rem;
    margin-top: 2rem;
  }
  
  .mylisting-prod-confirm-content > button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 24px;
    gap: 10px;
    background: #0e9be1;
    border-radius: 5px;
    border: none;
    margin-top: 3rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #ffffff;
  }
}






























@media screen and (max-width:576px) {
    .mobile-mylisting-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 11.875rem;
        background: #0F0F0F;
        border-radius: 6px;
        margin-top: 2rem;
        padding: .5rem;
    }

    .mobile-mylisting-upperpart-container{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: 5.5rem;
      position: relative;
    }

    .mobile-mylisting-lowerpart-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 5rem;
      column-gap: 5rem;
    }


    .mobile-mylisting-prod-img-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5.5rem;
      height: 5.5rem;  
    }

    .mobile-mylisting-prod-img-container > img{
      width: 100%;
      height: 100%;
    }

    .mobile-mylisting-prod-desc-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 10.438rem;
      height: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .mobile-mylisting-prod-desc-container > p{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.5rem;
      color: #DFDFDF;
    }


    .mobile-mylisting-prod-status-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 2.125rem;
      background: #141414;
      border-radius: 3px;
    }

    .mobile-mylisting-prod-status-container > p{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25rem;
      color: #9B9B9B;
    }


    .mobile-mylisting-lowerpart-container > p{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: #DFDFDF;
      row-gap: .25rem;
    }

    .mobile-mylisting-lowerpart-container > p > span{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: center;
      
      color: #646464;
    }
}


