.individual-purchase-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin-top: 5rem; 
}
.individual-purchase-container .delivery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    padding-bottom: 0rem;
}

.individual-purchase-container .delivery-container .delivery-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 98%;
    max-width: 80rem;
    height: 100%;
    gap: 1rem;

}
.individual-purchase-container .delivery-container .delivery-content .delivery-left-container{
    height: 82rem;
    max-width: 52.125rem;
}
#individual-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 2rem;
    color: #DFDFDF;
}

#individual-text a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 2rem;
    color: rgba(14, 155, 225, 1);
}

.individual-verification-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 90rem;
    margin-top: 1rem;
    padding: 0rem 2rem 0rem 2rem;

}

.individual-upload-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.875rem;
    gap: 2rem;  
    margin-top: 3.5rem;
    position: relative;
}


.individual-upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 100%;   
    background: #1E1E1E;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.individual-reupload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 6.875rem;   
    background: #1E1E1E;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.individual-reupload p{
    margin-bottom: 0rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #DFDFDF;
    margin-top: .5rem;
}

.individual-upload input[type="file"], .individual-reupload input[type="file"]{
    cursor: pointer;
    position: absolute;
    transform: scale(2);
    opacity: 0;

}

.individual-upload-desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    height: 100%;
}

#individual-upload-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #DFDFDF;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

#upload-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 0rem;
    color: #DFDFDF;
}

#upload-desc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-bottom: 0rem;
    color: #9B9B9B;
    margin-top: 1rem;
}





.individual-termscondition-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 25rem;
    background: #070707;
    margin-top: 4rem;
    padding: 2rem;
}

#individual-termscondition-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
    margin-bottom: 0rem;
}

.individual-termscondition-desc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    margin-top: 2rem;
    overflow-y: scroll;
    padding-top: 3rem;
    padding-right: 1rem;
}

#individual-termscondition-desc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #DFDFDF;
}





::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #222222;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: #171717;
}

.individual-accept-terms-and-condition{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.individual-accept-terms-and-condition span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    
    color: #DFDFDF;
}

.individual-agree-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 40px;
    gap: 10px;
    background: #0E9BE1;
    border-radius: 5px;
    align-self: center;
    border: none;
    margin-top: 4rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* identical to box height */
    
    
    color: #FFFFFF;
}


.order-confirm-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    z-index: 10;
}

.order-confirm-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40.875rem;
    height: 25.938rem;
    background: #191919;
    border-radius: 6px;
    padding: 2rem 4rem 2rem 4rem;
}

#order-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    /* identical to box height */
    
    text-align: center;
    
    color: #DFDFDF;
}

#credit-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    /* identical to box height */
    
    text-align: center;
    
    color: #19EEB5;
    margin-top: 2rem;
}

#order-desc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    /* or 161% */
    
    text-align: center;
    
    color: #FFFFFF;
    margin-top: 1rem;
}

#order-desc a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    /* or 161% */
    
    text-align: center;
    
    color: #0E9BE1;
    text-decoration: none;
}

.order-confirm-content button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 24px;
    gap: 10px;
    background: #0E9BE1;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
}

.order-confirm-content button a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    /* or 161% */
    
    text-align: center;
    
    color: #FFFFFF;
    text-decoration: none;
}





















@media only screen and (max-width:768px){
    .delivery-container{
        height: 100rem;
    }
    .delivery-content{
        max-width: 80rem;
    
    }
    .delivery-left-container{
        height: 95rem;
        max-width: 28.125rem;
    }
    #individual-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.125rem;
        margin-top: 2rem;
        color: #DFDFDF;
    }
    
    #individual-text a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.125rem;
        margin-top: 2rem;
        text-decoration: none;
        background: var(--btn-border-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    .individual-verification-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 90rem;
        margin-top: 1rem;
        padding: 0rem 2rem 0rem 2rem;
    
    }
    
    .individual-upload-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 6.875rem;
        gap: 1rem;  
        margin-top: 3.5rem;
    }
    
    .individual-upload{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7.5rem;
        height: 100%;   
        background: #1E1E1E;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
        border-radius: 6px;
    }
    
    
    .individual-upload-desc{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 80%;
        height: 100%;
    }
    
    #individual-upload-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #DFDFDF;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }
    
    #upload-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.125rem;
        margin-bottom: 0rem;
        color: #DFDFDF;
    }
    
    #upload-desc{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1rem;
        margin-bottom: 0rem;
        color: #9B9B9B;
        margin-top: 1rem;
    }

    #upload-desc a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1rem;
        background: var(--btn-border-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }


    .individual-upload input[type="file"]{
        cursor: pointer;
        position: absolute;
        transform: scale(2);
        opacity: 0;
    
    }
    
    
    .individual-termscondition-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 25rem;
        background: #070707;
        margin-top: 4rem;
        padding: 2rem 2rem 1rem 2rem;
    }
    
    #individual-termscondition-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        /* identical to box height */
        
        text-align: center;
        
        color: #FFFFFF;
        margin-bottom: 0rem;
    }
    
    .individual-termscondition-desc-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 18rem;
        margin-top: 2rem;
        overflow-y: scroll;
        padding-top: 10rem;
        padding-right: 1rem;
    }
    
    #individual-termscondition-desc{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #DFDFDF;
    }
    
    .individual-selfie-upload input{
        display: none;
    }
    
    
    
    
    ::-webkit-scrollbar {
        width: 2px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #222222;
        border-radius: 2px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #171717;
    }
    
    .individual-accept-terms-and-condition{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 2rem;
    }
    
    .individual-accept-terms-and-condition span{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.125rem;
        
        color: #DFDFDF;
    }
    
    .individual-agree-button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 14px 40px;
        gap: 10px;
        background: #0E9BE1;
        border-radius: 5px;
        align-self: center;
        border: none;
        margin-top: 4rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.25rem;
        /* identical to box height */
        
        
        color: #FFFFFF;
    }
    .order-confirm-container{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(2px);
        z-index: 10;
    }
    
    .order-confirm-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 20.875rem;
        height: 25.938rem;
        background: #191919;
        border-radius: 6px;
        padding: 2rem 4rem 2rem 4rem;
    }
    
    #order-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        /* identical to box height */
        
        text-align: center;
        
        color: #DFDFDF;
    }
    
    #credit-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        /* identical to box height */
        
        text-align: center;
        
        color: #19EEB5;
        margin-top: 2rem;
    }
    
    #order-desc{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.125rem;
        /* or 161% */
        
        text-align: center;
        
        color: #FFFFFF;
        margin-top: 1rem;
    }
    
    #order-desc a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.125rem;
        /* or 161% */
        
        text-align: center;
        
        color: #0E9BE1;
        text-decoration: none;
    }
    
    .order-confirm-content button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px 24px;
        gap: 10px;
        background: #0E9BE1;
        border-radius: 5px;
        border: none;
        margin-top: 1rem;
    }
    
    .order-confirm-content button a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.125rem;
        /* or 161% */
        
        text-align: center;
        
        color: #FFFFFF;
        text-decoration: none;
    }
}

























@media only screen and (max-width:500px) {
    .mobile-individual-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100rem; 
    }

    .mobile-individual-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 95%;
        height: 100%;
        background: #0F0F0F;
        border-radius: 0px 0px 6px 6px;
    }

    .mobile-company-link-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5rem;
        gap: .5rem;
    }

    .mobile-company-link-container p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        /* or 162% */
        
        text-align: center;
        
        color: #DFDFDF;
    }

    .mobile-company-link-container a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1rem;
        text-align: center;
        background: var(--btn-border-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-decoration: none;
    }

    .mobile-individual-upload-container-address{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 15.125rem;
        gap: 1rem;
        padding: 2rem 1rem 2rem 1rem;
        margin-top: 2rem;
        border-top: 1px solid #323232;
    }


    .mobile-individual-upload-container-selfie{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 14.125rem;
        gap: 1rem;
        padding: 2rem 1rem 2rem 1rem;
        margin-top: 2rem;
        border-top: 1px solid #323232;
    }

    .mobile-individual-upload-container-identity{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 12.125rem;
        gap: 1rem;
        padding: 2rem 1rem 2rem 1rem;
        margin-top: 2rem;
        border-top: 1px solid #323232;
    }

    .mobile-individual-upload{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.75rem;
        height: 4.75rem;
        background: #141414;
        border-radius: 4.19048px;
        position: relative;
        overflow: hidden;
    }

    .mobile-individual-upload input[type="file"]{
        cursor: pointer;
        position: absolute;
        transform: scale(2);
        opacity: 0;

    }

    .mobile-individual-upload-desc{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 70%;
        height: 100%;
    }

    #mobile-individual-upload-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #DFDFDF;
        margin-bottom: none;
    }

    #mobile-individual-upload-desc{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: #DFDFDF;
        margin-top: .5rem;
        margin-bottom: none;
    }

    #mobile-individual-selfie-reupload{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin-top: .5rem;
        margin-bottom: none;
        background: var(--btn-border-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    #mobile-individual-selfie-reupload input[type='file']{
        cursor: pointer;
        position: absolute;
        transform: scale(2);
        opacity: 0;
    }

    .mobile-individual-upload-desc a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.5rem;
        background: var(--btn-border-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-decoration: none;
        margin-top: .2rem;
    }


    .mobile-individual-termsconditions-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 25.875rem;
        padding: 0rem 1rem 0rem 1rem;
        margin-top: 2rem;
    }

    .mobile-individual-termsconditions-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #070707;
    }

    .mobile-individual-termscondition{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: scroll;
        width: 100%;
        height: 22rem;
        padding: 0rem 1rem 0rem 1.5rem;
    }

    .mobile-individual-termscondition-text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;
        color: #FFFFFF;
    }

    .mobile-individual-termscondition p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.375rem;
        text-align: start;
        color: #FFFFFF;
    }

    .mobile-individual-accept-termscondition{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 4rem;
        padding: 0rem 1rem 0rem 1rem;
        margin-top: 1rem;
    }

    .mobile-individual-accept-termscondition label{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }
    
    .mobile-individual-accept-termscondition label p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.125rem;
        text-align: start;
        color: #FFFFFF;
        margin-left: 1rem;  
        margin-bottom: 0rem;
    }


    .mobile-individual-agreebtn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4rem;
        margin-top: 2rem;

    }

    .mobile-individual-agreebtn-container button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13px 24px;
        gap: 8px;
        
        background: #0E9BE1;
        border-radius: 5px;
        border: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.125rem;
        text-align: start;
        color: #FFFFFF;

    }



    .order-confirm-container{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(2px);
        z-index: 10;
    }
    
    .order-confirm-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #191919;
        border-radius: 6px;
        padding: 3rem 2rem 2rem 2rem;
    }
    
    #order-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 1.688rem;
        text-align: center;
        color: #DFDFDF;
        margin-top: 4rem;
    }
    
    #credit-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.375rem;
        /* identical to box height */
        
        text-align: center;
        
        color: #19EEB5;
        margin-top: 2rem;
    }
    
    #order-desc{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        /* or 161% */
        
        text-align: center;
        
        color: #FFFFFF;
        margin-top: 2rem;
    }
    
    #order-desc a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        /* or 161% */
        
        text-align: center;
        
        background: var(--btn-border-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-decoration: none;
    }
    
    .order-confirm-content button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px 24px;
        gap: 10px;
        background: var(--btn-border-gradient);
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        border-radius: 5px;
        border: none;
        margin-top: 2.5rem;
    }
    
    .order-confirm-content button a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.125rem;
        /* or 161% */
        
        text-align: center;
        
        color: #FFFFFF;
        text-decoration: none;
    }



}
    
