.myorder-package-details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 11;
}

.myorder-package-details-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 44rem;
    height: 36rem;
    background: #141414;
    border-radius: 6px;
    padding: 2rem;
}


#package-details-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem; 
    color: #FFFFFF;
}


.myorder-package-product-desc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 7.688rem;
    background: #191919;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    padding: .5rem 1rem .5rem .5rem;
}

.package-product-desc-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.688rem;
    height: 6.688rem;
}

.package-product-desc-img > img{
    width: 100%;
    height: 100%;
}


.package-product-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 32rem;
    height: 100%;
    margin-left: .75rem;
}


.package-product-name > p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #DFDFDF;
}

.package-product-name > p > span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #9b9b9b;
}


.myorder-package-renting-details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 12.875rem;
    margin-top: 1rem;
}

.package-days-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 18.75rem;
    height: 100%;
    background: #191919;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 6px; 
    padding: 1rem;
}

.package-renting-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 18.75rem;
    height: 9rem;
    background: #191919;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    padding: 1rem;
}

.package-days-details > p, .package-renting-details > p, #date{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.063rem;
    color: #DFDFDF;
}

.package-days-details > p > span, .package-renting-details > p > span, .myorder-payment-status-details > p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.063rem;
    color: #9B9B9B;
    margin-right: .5rem;
}


.package-days-details > button, .myorder-payment-status-details > button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    padding: 12px 20px;
    gap: 10px;
    border: none;
    background: #0E9BE1;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.063rem;
    color: #FFFFFF;
}


.myorder-payment-status-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    background: #191919;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
}


#pending-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.063rem;
    color: #B8352C;
    margin-left: .5rem;
}






















@media only screen and (max-width:768px){
    .tablet-myorder-order-details-container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 11;
        backdrop-filter: blur(10px);
    }

    .tablet-myorder-order-details-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 95%;
        max-width: 45.125rem;
        height: 32.688rem;
        background: #191919;
        border-radius: 6px;
        padding: 3rem 2rem;
    }

    .tablet-myorder-order-details-content > h4{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: #DFDFDF;
        margin-bottom: 1rem;
    }

    .tablet-myorder-order-details-content > p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #9B9B9B;
        margin-top: 1.5rem;
    }

    .tablet-myorder-order-details-content > p > span{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #DFDFDF;
        margin-left: 1.5rem;
    }

    .tablet-myorder-order-details-content > button{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-top: 3rem;
        width: 6rem;
        height: 3rem;
        border: none;
        background: var(--btn-border-gradient);
        border-radius: 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #FFFFFF;
    }
    
}


